.container {
  padding: 70px 20px 20px 20px;
  height: 100%;

  & .MuiButton-contained:focus {
    background-color: royalblue;
    color: white;
  }

  & .MuiTableRow-root {
    display: flex;

    & .MuiTableCell-root:nth-child(1) {
      width: 60px;
    }

  }

  & .MuiTableCell-root {
    width: 100%;
  }

  & .difficulty {
    &-red {
      color: red;
    }
    &-orange {
      color: orange;
    }
    &-yellow {
      color: yellow;
    }
    &-blue {
      color: blue;
    }
    &-cyan {
      color: cyan;
    }
    &-green {
      color: green;
    }
    &-brown {
      color: brown;
    }
    &-gray {
      color: gray;
    }
  }

  & a {
    $contestLinkColor: cornflowerblue;

    color: $contestLinkColor;
    text-decoration: none;

    &:hover {
      color: royalblue;
    }

  }

  & .length-square {
    display: inline-block;
    border-radius: 20%;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    height: 10px;
    width: 10px;
  }

  & .exectime-circle {
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    height: 10px;
    width: 10px;
  }

  & .table {
    background-color: rosybrown;


  }
}

.nav-button {
  & span {
    color: white;
  }
}

.ranking-table {
  table-layout: fixed;
}