.container {
  height: 100%;

  & a {
    $contestLinkColor: cornflowerblue;

    &:link {
      color: $contestLinkColor;
    }

    &:visited {
      color: $contestLinkColor;
    }
    &:hover {
      color: cadetblue;
    }
  }

  & .length-square {
    display: inline-block;
    border-radius: 20%;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    height: 10px;
    width: 10px;
  }

  & .table {
    background-color: rosybrown;


  }
}